In [2]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd

driver = webdriver.Firefox()
driver.get('https://www.premierleague.com/stats/top/players/goals?se=79')
for i in range(100000000):
        n = 2+3
players = driver.find_elements_by_xpath('//a[@class="playerName"]')
players_list = []
for p in players:
    players_list.append(p.text)
print(players_list)  

nationality = driver.find_elements_by_xpath('//span[@class="playerCountry"]')
nationality_list = []
for n in nationality:
    nationality_list.append(n.text)
print(nationality_list) 


data_tuples = list(zip(players_list,nationality_list))
df1 = pd.DataFrame(data_tuples, columns=['name','nationality'])   

driver.close()

df1.to_csv("players_data.csv", index=False)

['Mohamed Salah', 'Harry Kane', 'Sergio Agüero', 'Jamie Vardy', 'Raheem Sterling', 'Romelu Lukaku', 'Roberto Firmino', 'Alexandre Lacazette', 'Gabriel Jesus', 'Eden Hazard', 'Riyad Mahrez', 'Glenn Murray', 'Son Heung-Min', 'Marko Arnautovic', 'Álvaro Morata', 'Pierre-Emerick Aubameyang', 'Christian Eriksen', 'Sadio Mané', 'Luka Milivojevic', 'Wayne Rooney']
['Egypt', 'England', 'Argentina', 'England', 'England', 'Belgium', 'Brazil', 'France', 'Brazil', 'Belgium', 'Algeria', 'England', 'South Korea', 'Austria', 'Spain', 'Gabon', 'Denmark', 'Senegal', 'Serbia', 'England']

In [3]:
df1

                         name  nationality
0               Mohamed Salah        Egypt
1                  Harry Kane      England
2               Sergio Agüero    Argentina
3                 Jamie Vardy      England
4             Raheem Sterling      England
5               Romelu Lukaku      Belgium
6             Roberto Firmino       Brazil
7         Alexandre Lacazette       France
8               Gabriel Jesus       Brazil
9                 Eden Hazard      Belgium
10               Riyad Mahrez      Algeria
11               Glenn Murray      England
12              Son Heung-Min  South Korea
13           Marko Arnautovic      Austria
14              Álvaro Morata        Spain
15  Pierre-Emerick Aubameyang        Gabon
16          Christian Eriksen      Denmark
17                 Sadio Mané      Senegal
18           Luka Milivojevic       Serbia
19               Wayne Rooney      England

In [4]:
import pandas as pd
import json

df2 = pd.read_json("players_stats.json")

df2.to_csv("players_stats.csv", index=False)
df2

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Mohamed Salah,Liverpool,25,RW,1,35.0,1117,9.0,12.40%,0,4,Egypt,1,3,10,1,0
1,Harry Kane,Tottenham,23,CF,1,60.0,4161,12.5,35.10%,224,1,England,0,2,17,1,0
2,Sergio Agüero,Manchester+City,29,CF,1,65.0,4046,11.5,9.70%,175,3,Argentina,0,4,11,1,0
3,Jamie Vardy,Leicester+City,30,CF,1,15.0,2988,8.5,1.50%,161,1,England,0,4,9,0,0
4,Raheem Sterling,Manchester+City,22,LW,1,45.0,2074,8.0,3.80%,149,1,England,0,2,11,1,0
5,Romelu Lukaku,Manchester+United,24,CF,1,50.0,3727,11.5,45.00%,221,2,Belgium,0,2,12,1,0
6,Roberto Firmino,Liverpool,25,SS,1,38.0,2196,8.5,20.30%,180,3,Brazil,0,3,10,1,0
7,Alexandre Lacazette,Arsenal,26,CF,1,40.0,1183,10.5,26.50%,0,2,France,1,3,1,1,0
8,Gabriel Jesus,Manchester+City,20,CF,1,30.0,4254,10.5,15.20%,67,3,Brazil,0,1,11,1,1
9,Eden Hazard,Chelsea,26,LW,1,75.0,4220,10.5,2.30%,224,2,Belgium,0,3,5,1,0
10,Riyad Mahrez,Leicester+City,26,RW,1,30.0,1753,8.5,1.70%,120,4,Algeria,0,3,9,0,0
11,Glenn Murray,Brighton+and+Hove,33,CF,1,3.5,496,6.0,1.30%,0,1,England,0,5,3,0,0
12,Son Heung-min,Tottenham,25,LW,1,30.0,2185,8.0,1.60%,174,4,South Korea,0,3,17,1,0
13,Marko Arnautovic,Stoke+City,28,LW,1,15.0,579,7.0,0.70%,117,1,England,0,4,15,0,0
14,Christian Eriksen,Tottenham,25,AM,1,40.0,1130,9.5,12.00%,218,2,Denmark,0,3,17,1,0
15,Sadio Mané,Liverpool,25,LW,1,40.0,3219,9.5,5.30%,156,4,Senegal,0,3,10,1,1
16,Luka Milivojevic,Crystal+Palace,26,DM,2,10.0,407,5.0,0.20%,42,2,Serbia,0,3,6,0,0
17,Wayne Rooney,Everton,31,SS,1,15.0,7664,7.5,20.90%,76,1,England,0,4,7,0,0
18,Álvaro Morata,,31,SS,1,15.0,7664,7.5,20.90%,76,1,Spain,0,4,7,0,0
19,Pierre-Emerick Aubameyang,Aresnal,25,LW,1,30.0,2185,8.0,1.60%,174,4,Gabon,0,3,17,1,0

In [7]:
result = pd.merge(df1, df2, 
                    on=["name","nationality"])

result.to_csv("merged_data.csv", index=False)
result

,name,nationality,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,new_foreign,age_cat,club_id,big_club,new_signing
0,Mohamed Salah,Egypt,Liverpool,25,RW,1,35.0,1117,9.0,12.40%,0,4,1,3,10,1,0
1,Harry Kane,England,Tottenham,23,CF,1,60.0,4161,12.5,35.10%,224,1,0,2,17,1,0
2,Sergio Agüero,Argentina,Manchester+City,29,CF,1,65.0,4046,11.5,9.70%,175,3,0,4,11,1,0
3,Jamie Vardy,England,Leicester+City,30,CF,1,15.0,2988,8.5,1.50%,161,1,0,4,9,0,0
4,Raheem Sterling,England,Manchester+City,22,LW,1,45.0,2074,8.0,3.80%,149,1,0,2,11,1,0
5,Romelu Lukaku,Belgium,Manchester+United,24,CF,1,50.0,3727,11.5,45.00%,221,2,0,2,12,1,0
6,Roberto Firmino,Brazil,Liverpool,25,SS,1,38.0,2196,8.5,20.30%,180,3,0,3,10,1,0
7,Alexandre Lacazette,France,Arsenal,26,CF,1,40.0,1183,10.5,26.50%,0,2,1,3,1,1,0
8,Gabriel Jesus,Brazil,Manchester+City,20,CF,1,30.0,4254,10.5,15.20%,67,3,0,1,11,1,1
9,Eden Hazard,Belgium,Chelsea,26,LW,1,75.0,4220,10.5,2.30%,224,2,0,3,5,1,0
10,Riyad Mahrez,Algeria,Leicester+City,26,RW,1,30.0,1753,8.5,1.70%,120,4,0,3,9,0,0
11,Glenn Murray,England,Brighton+and+Hove,33,CF,1,3.5,496,6.0,1.30%,0,1,0,5,3,0,0
12,Álvaro Morata,Spain,,31,SS,1,15.0,7664,7.5,20.90%,76,1,0,4,7,0,0
13,Pierre-Emerick Aubameyang,Gabon,Aresnal,25,LW,1,30.0,2185,8.0,1.60%,174,4,0,3,17,1,0
14,Christian Eriksen,Denmark,Tottenham,25,AM,1,40.0,1130,9.5,12.00%,218,2,0,3,17,1,0
15,Sadio Mané,Senegal,Liverpool,25,LW,1,40.0,3219,9.5,5.30%,156,4,0,3,10,1,1
16,Luka Milivojevic,Serbia,Crystal+Palace,26,DM,2,10.0,407,5.0,0.20%,42,2,0,3,6,0,0
17,Wayne Rooney,England,Everton,31,SS,1,15.0,7664,7.5,20.90%,76,1,0,4,7,0,0